
.app{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./img/clima.PNG');
  background-repeat: no-repeat;
  background-size: 100%;
}